B2B_AS1_IN_COMING/1.0/schemas/SebdTOB2BConnector.OUT_PORT.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:fns="http://www.fiorano.com/fesb/activity/B2B_IN_COMING/JMSIn1/jmsIn/Out" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.fiorano.com/fesb/activity/B2B_IN_COMING/JMSIn1/jmsIn/Out">
   <xsd:element name="Message">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="Body" type="xsd:string"/>
            <xsd:element name="SentMessage" type="xsd:string"/>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
</xsd:schema>